{% extends 'base.html' %}

{% block content%}

        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Dessert House "Magnolia"</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Sweet&Delicious</p>
                </div>
            </div>
        </header>

        <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="about-content">
                    <br>

                    <h2>Dessert House "Magnolia": </h2>
                    <p>
                        Nestled in the heart of our city, Dessert House "Magnolia" is more than just a cake shop—it's a sanctuary of sweetness and creativity. Inspired by the elegance of the magnolia flower, our establishment is dedicated to crafting exquisite desserts that ignite the senses and create unforgettable moments.
                    </p>
                    <p>
                        Our menu boasts a diverse array of treats, from classic chocolate cakes to exotic mango mousse. Each creation is meticulously crafted by our skilled pastry chefs, who infuse every cake with artistry and innovation. Whether you're celebrating a special occasion or simply craving a sweet indulgence, our cakes are sure to delight.
                    </p>
                    <p>
                        But Dessert House "Magnolia" is more than just a place to satisfy your sweet tooth. It's a haven where hospitality meets excellence, where every guest is treated like family. From our warm ambiance to our attentive service, we strive to make every visit a memorable experience.
                    </p>
                    <p>
                        So come, escape into a world of sweetness at Dessert House "Magnolia," where every bite is a moment of joy and every cake is a masterpiece waiting to be discovered.
                    </p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uBqBHsoMd08" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

{% endblock %}