{% extends 'base.html' %}

{% load static %}

{% block content %}
<body>
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Dessert House "Magnolia"</h1>
                <p class="lead fw-normal text-white-50 mb-0">Sweet&Delicious</p>
            </div>
        </div>
        <!-- jquery cdn-->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </header>
    {% if user.is_authenticated and perms.store.add_product %}
    <a href="{% url 'store:add_product' %}" class="btn btn-primary mb-3">Add New Product</a>
    {% endif %}
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in page_obj %}
                    {% if product.is_sale %}
                        <!-- sale product -->
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- SALE BADGE -->
                                <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        <strike>$ {{ product.price }}</strike> - $ {{ product.sale_price }}
                                        <br>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'store:product' product.id %}">View product</a></div>
                                </div>
                                {% if user.is_superuser or perms.mainapp.delete_event %}
                                    <a href="{% url 'store:delete_product' product.id %}" class="btn btn-danger mt-2">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% else %}
                        <!-- product -->
                        <div class="col mb-5">
                            <div class="card h-100">
                                <!-- Product image-->
                                <img class="card-img-top" src="{{ product.image.url }}" alt="..." />
                                <!-- Product details-->
                                <div class="card-body p-4">
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                        <!-- Product price-->
                                        $ {{ product.price }}
                                        <br>
                                    </div>
                                </div>
                                <!-- Product actions-->
                                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'store:product' product.id %}">View product</a></div>
                                </div>
                                {% if user.is_superuser or perms.mainapp.delete_event %}
                                    <a href="{% url 'store:delete_product' product.id %}" class="btn btn-danger mt-2">Delete</a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

                {% endfor %}
            </div>
            <!-- Pagination Controls -->
            <div class="pagination" style="display: flex; justify-content: center; margin-top: 20px;">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1" style="margin: 0 5px; padding: 10px 15px; border: 1px solid #ddd; text-decoration: none; color: #333;">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}" style="margin: 0 5px; padding: 10px 15px; border: 1px solid #ddd; text-decoration: none; color: #333;">previous</a>
                    {% endif %}

                    <span class="current" style="margin: 0 5px; padding: 10px 15px; border: 1px solid #ddd; color: #333;">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}" style="margin: 0 5px; padding: 10px 15px; border: 1px solid #ddd; text-decoration: none; color: #333;">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}" style="margin: 0 5px; padding: 10px 15px; border: 1px solid #ddd; text-decoration: none; color: #333;">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
    </section>
</body>
{% endblock %}
